[run]
source = src/
omit =
    src/chassis/*
    src/capabilities/example_feature/*
    src/capabilities/*/infrastructure/*
    src/capabilities/*/domain/enums.py
    src/app/*
    src/config/*
    src/main.py
    src/utils/*

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    @abstractmethod
    \.\.\.
