ENV=development
APP_NAME=irpf

# PostgreSQL
DB_BACKEND=postgresql
DB_USER=irpf_user
DB_PASSWORD=irpf_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wealth_db
DB_DSN=

SQL_ECHO=false
RUN_DEMO=false

# pgAdmin
PGADMIN_EMAIL=admin@irpf.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
